<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>

    <h1> My History </h1>

    <table border="1">
        <tr>
            <th>No</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Date</th>
        </tr>

        <% data.forEach( (el,i) => { %>
             <tr>
                <td> <%= i + 1 %> </td>
                <td> <%= el.itemProduct %> </td>
                <td> <%= el.itemQuantity %> </td>
                <td> <%= el.itemPrice %> </td>
                <td> <%= el.totalPrice %> </td>
                <td> <%= el.date %> </td>
             </tr>
        <% }) %>
    </table>
    
</body>
</html>