<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('partial/_navbar.ejs') %>

    <h1>Products</h1>

    <form action="/products" method="get">
        <input type="text" name="search" placeholder="search by product name..">
        <input type="submit" value="search">
    </form>

    <a href="/logout"> <button> Logout </button></a>

    <a href="/products/add"><button>Add</button></a>

    <a href="/profile/<%= session.id %>"><button> My Profile </button></a>

    <a href="/cart"><button>Go to Cart</button></a>

    <h5>Hello <%= profile.name == null || profile.name === "" ? session.username : profile.name %>, role kamu adalah <%= session.role %></h5>

    <% if (error) { %>
        <p style="color: red;"> <%= error %></p>
    <% } %>

    <% if (message) { %>
        <p style="color: red;"> <%= message %></p>
    <% } %>

    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Product Picture</th>
            <th>Category</th>
            <th>Action</th>
        </tr>

        <% data.forEach( (el,i) => { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= el.name %></td>
                <td><%= el.description %></td>
                <td><%= getIDR(el.price) %></td>
                <td><%= el.stock %></td>
                <td><img style="width: 150px;" src="<%= el.productPicture %>" alt=""></td>
                <td><%= el.Category.name %></td>
                <td>
                    <a href="/products/edit/<%= el.id %>"><button>Edit</button></a>
                    <a href="/products/delete/<%= el.id %>"><button>Delete</button></a>
                    <form action="/add-to-cart" method="POST" style="display:inline;">
                        <input type="hidden" name="productId" value="<%= el.id %>">
                        <button type="submit" <%= el.stock > 0 ? "" : "disabled" %>>Add to Cart</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>
    
</body>
</html>